<!doctype html>
<html lang="en">
  <head>
  	<title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/5aed69d207.js" crossorigin="anonymous"></script>

  <style>
    .menu_icon{margin-top: 3px;margin-left: 0.1pc;color:rgba(212, 209, 209, 0.754);}
    .menu_text{margin-left: 0.8pc;color: rgba(212, 209, 209, 0.713);}
    .menu{margin-left: 1pc;margin-right: 1pc;}
    .active{background-color: rgba(255, 255, 255, 0.111);border-radius: 5px;}
    .menu_title{color: rgba(255, 255, 255, 0.905); font-weight: bold;font-size: 18px;}
    table{text-align: center;}
  </style>

	</head>
	<body style="background-color: rgb(46, 48, 49);">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column" style="background-color: rgb(48, 50, 53);height: 100vh;width: 20%;">
          <div class="p-2 menu" style="height: 4pc;margin-bottom: 0.5pc;"></div>
          <div class="p-2 menu menu_title">Events</div>
          <div class="p-2 menu active">
            <div class="d-flex justify-content-start">
             <i class="fas fa-home fa-lg menu_icon"></i>
              <h6 class="menu_text">Home</h6>
            </div>
          </div>
          <div class="p-2 menu">
            <div class="d-flex justify-content-start">
             <i class="fas fa-plus fa-lg menu_icon"></i>
              <h6 class="menu_text">Add Event</h6>
            </div>
          </div>
          <div class="p-2 menu">
            <div class="d-flex justify-content-start">
              <i class="fas fa-trash fa-lg menu_icon"></i>
              <h6 class="menu_text">Bin</h6>
            </div>
        </div>
        <div class="p-2 menu" style="height: 1pc;border-bottom: 2px solid rgba(89, 86, 86, 0.789);margin-bottom: 0.5pc;"></div>
        <div class="p-2 menu menu_title">Account</div>
        <div class="p-2 menu">
          <div class="d-flex justify-content-start">
            <i class="fas fa-user-circle fa-lg menu_icon"></i>
            <h6 class="menu_text">Profile</h6>
          </div>
      </div>
      <div class="p-2 menu">
        <div class="d-flex justify-content-start">
          <i class="fas fa-sign-out-alt fa-lg menu_icon"></i>
          <h6 class="menu_text">Logout</h6>
        </div>
    </div>
      </div>
      <div class="d-flex flex-column" style="background-color:rgb(235, 228, 228);height: 100vh;width: 80%; box-shadow: 0px 0px 10px 3px rgb(46, 43, 43);">
        <div style="height: 8%;width: 100%;background-color:rgb(59, 63, 65);box-shadow: 1px 0px 6px rgb(36, 34, 34);">
          <div class="d-flex flex-row">
            <div class="p-2" style="margin-left: 5px;margin-top: 4px;"><i class="far fa-clock fa-lg"></i></div>
            <div class="p-2" style="margin-left: -8px;margin-top: 7px;"><h6 style="color: rgb(212, 209, 209);">Scheduler</h6></div>
          </div>
        </div>
        <div style="height: 90%;width: 98%;background-color:rgb(227, 230, 237);box-shadow: 1px 0px 6px rgba(36, 34, 34, 0.275);margin-left: 0.5pc;margin-top: 0.5pc;padding: 1pc;">
          <div style="height: 10%; background-color: red;"></div>
          <div style="height: 80%; background-color: violet;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sun</th>
                  <th scope="col">Mon</th>
                  <th scope="col">Tue</th>
                  <th scope="col">Wed</th>
                  <th scope="col">Thu</th>
                  <th scope="col">Fri</th>
                  <th scope="col">Sat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1fdgdf</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>


