<html>
    <head>
        <!--JQuery CDN-->
        <script src="/js/jquery.js"></script>
        <!--Bootstrap CSS CDN-->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <!--Bootstrap JS extension CDN-->
        <script src="/js/bootstrap.js"></script>
        <!--Own JQuery and AJAX interactions found here-->
        <script src = "/js/interactions.js"></script>
              <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <title>Inventory Management System</title>
    </head>
</html>